@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <form name="fr" action="Home/ShowData" method="post">
    
    <div>
        <label for="">Product Id :</label>
    </div>

    <div>
        <input type="text" name="prodId" id="">
    </div>

    <div>
        <label for="">Product Name :</label>
    </div>

    <div>
        <input type="text" name="prodName" id="">
    </div>

    <div>
        <label for="">Product Qty :</label>
    </div>

    <div>
        <input type="text" name="prodQty" id="">
    </div>

   <div>
        <label for="">Product Price :</label>
    </div>

    <div>
        <input type="text" name="prodPrice" id="">
    </div>

    <div>
        <input type="submit" value="Submit">
    </div>


    </form>
</div>
