@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form name="fr" action="/Home/ShowData">

    <div>
        <label>Enter Your Name</label>
    </div>
    <div>
        <input type="text" name="nm" id="">
    </div>

    <div>
        <label>Enter Your Gender</label>
    </div>
    <div>
        <select name="gen">
            <option value="Male">M</option>
            <option value="FeMale">F</option>
        </select>
    </div>

    <div>
        <label>Enter Your Age</label>
    </div>
    <div>
        <input type="text" name="age" id="">
    </div>

    <div>
        <input type="submit" value="Submit">
    </div>

</form>
</div>
