<form name="fr" action="/Home/ShowData">

    <div>
        <label>Enter Your Name</label>
    </div>
    <div>
        <input type="text" name="nm" id="">
    </div>

    <div>
        <label>Enter Your Gender</label>
    </div>
    <div>
        <input type="text" name="gn" id="">
    </div>

    <div>
        <label>Enter Your Age</label>
    </div>
    <div>
        <input type="text" name="age" id="">
    </div>

    <div>
        <input type="submit" value="Submit">
    </div>

</form>